.vertLine {
    position: relative;
    background-color: gray;
    border: 0;
    width: 150px;
    height: 1px;
    margin-right: 30px;
}

.airplane {
    position: relative;
    left: 160px;
    top: -18px;
    transform: rotate(90deg);
}