body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 10px auto 30px;
}